= form_for :cron, :url => update_path(@job.id), :method => :put, :html => {:id => "crontab-form"} do |f|
  = haml :form
  %input.btn{:type => "submit", :value => "Update"}/
  %a.btn{:href => '/'} Back
  %br/
  %br/
